<%= form_for(world) do |f| %>
    <label class="label">world name:</label>
    <%= f.text_field :name %><br><br>

    <label class="label">aesthetic:</label>
    <%= f.text_field :aesthetic %><br><br>

    <label class="label">genre:</label>
    <%= f.text_field :genre %><br><br>

    <label class="label">description:</label>
    <%= f.text_field :description %><br><br>

    <input type="submit" value="Submit" class="button is-primary">
<% end %>