<% if @world.user_id == current_user.id %>
<br>
    <%= link_to "EDIT WORLD", edit_world_path(@world) %> <br>
    <br>
    <%= link_to "NEW CHARACTER", new_world_character_path(@world) %> <br>
    <%= link_to "NEW PLOT", new_world_plot_path(@world) %>
<br>
<br>

<% else %>
 <h3>Created by:</h3>
 <%= @world.user.name %>

<br>
<br>
<% end %>

<br>

<p>
  <strong>Name:</strong>
  <%= @world.name %>
</p>
 
<p>
  <strong>Genre:</strong>
  <%= @world.genre %>
</p>
 
<p>
  <strong>Aesthetic:</strong>
  <%= @world.aesthetic %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @world.description %>
</p>
<br>
<p>
            <h3>characters in <%= @world.name %></h3>
            <div>
            <%= render partial: "characters/list", locals: {characters: @characters} %>
            </div>
</p>
<br>
<p>
  <h3>plots for <%= @world.name %> </h3>
            <% @plots.each do |p| %>
                
                  <li><%= link_to p.title, world_plot_path(p.world, p) %></li>
 
            <% end %>
            <br>
</p>

<h2>
<%= link_to 'BACK', worlds_path %>

</h2>
